<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Who's getting the brews?</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body ng-app="brewApp">

    <div class="hero-unit" ng-controller="MainCtrl">
        <h1>Who's getting the brews?</h1>
        <ul class="selector">
            <li ng-repeat="person in people | orderBy:'lastName'">
                <img ng-src="{{person.image}}"
                    alt="{{person.firstName}} {{person.lastName}}"
                    ng-click="person.selected = !person.selected"
                    ng-class="{selected: person.selected}"
                />
            </li>
        </ul>
        <div class="choose">
            <p ng-show="!chosen">?</p>
            <img ng-src="{{chosen.image}}"
                alt="{{chosen.firstName}} {{chosen.lastName}}"
                ng-show="chosen"
            />
            <button class="btn btn-primary"
                ng-disabled="!hasSelected()"
                ng-click="choose()"
            >Choose one!</button>
        </div>
    </div>

    <script src="js/libs/angular.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/app.js"></script>
</body>
</html>